<div class='footer'>
  <table>
    <tr>

      <td>
	<!-- يمكن أحط البريد هنا كرابط على الأسم -->
	السيد مذهل © 2020
	محتوى هذا الموقع مرخص تحت رخصة <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ar">المشاع الإبداعي النسبة المشاركة بالمثل 4.0</a>
	ما لم يتم الإشارة لغير ذلك
      </td>

      <td>
	<img src='/images/cc-by-sa-4.0.png' alt='المشاع الإبداعي النسبة المشاركة بالمثل'/>
      </td>     
      
      <td>
	<!-- Copyright © 2020 <a href='mailto:jhon.doe@example.com'>Mr Fantastic</a><br> -->
	mr.fantastic © 2020
	All the content of this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0">creative commons attribution ShareAlike 4.0</a>
	if not otherwise noted.
      </td>
      
    </tr>
  </table>
</div>

أخر تحديث %s. مولد بواسطة %s.
