<div class='intro'>
  <img src='/images/about/profile.png' alt='جناوي' class='no-border'/>
  <h1>
    <span class="gray">السيد</span>
    <span class="black">مذهل</span>
    <br/>
    <span class="gray">mr.</span>
    <span class="black">fantastic</span>
  </h1>
  <p>طالب هندسة برمجيات - مهتم بالرسوميات والهندسة الصوتية</p>
  <p>Software engineering student - interested in graphics and audio engineering</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>المدونة<br/>Blog</a>.</li>
<li><a href='http://gitlab.com/mr.fantastic'>حسابي في<br/>GitLab</a>.</li>
<li><a href='/index.xml'>تابعني على<br/>RSS</a>.</li>
<li><a href='/about/'>حول<br/>About</a></li>
</ul>
</div>
